In [4]:
# 서울시 구별 CCTV 데이터와 인구 합치기
import numpy as np
import pandas as pd

In [5]:
### 1. CCTV 데이터

In [81]:
cctv = pd.read_csv("서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv",
    skiprows=1, encoding = 'EUC-KR')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [82]:
#Null data가 있는지 확인
cctv.isna().sum().sum()

0

In [83]:
#1000 단위 구분기호 없애기
for column in cctv.columns[1:]:
    cctv[column] =cctv[column].apply(lambda x : int(x.replace(',','')))

cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289

In [84]:
# 3개년 최근 증가율
cctv['최근3개년'] = cctv['2018년'] + cctv['2019년'] + cctv['2020년']
cctv['2017년 이전'] = cctv. 총계 - cctv['최근3개년'] - cctv['2021년']  # cctv.총계는 컬럼에서는 쓸수 있다
cctv['최근 증가율'] = (cctv['최근3개년'] / cctv['2017년 이전'] * 100).round(2)
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근3개년,2017년 이전,최근 증가율
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608,32969,42455,77.66
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,294,1435,20.49
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,902,1142,78.98

In [85]:
# cctv. 하면 맨뒤에 최근 3개년, 총계 등을 쓸 수 있다.

In [86]:
cctv['최근증가율2'] = (cctv.iloc[:,9:12].sum(axis =1) / cctv.iloc[:,2:9].sum(axis =1) *100).round(2)

In [87]:
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근3개년,2017년 이전,최근 증가율,최근증가율2
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608,32969,42455,77.66,77.66
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,294,1435,20.49,20.49
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,902,1142,78.98,78.98

In [88]:
# Selection - 필요한 컬럼 추출
cctv = cctv[['구분','총계', '최근증가율']]
cctv.head(3)

KeyError: "['최근증가율'] not in index"

In [ ]:
# 칼럼명 변경
cctv.rename(columns={'구분':'구별', '총계': 'cctv 댓수'}, inplace = True)
cctv.head(3)

,구별,cctv 댓수,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근3개년,2017년 이전,최근 증가율,최근증가율2
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608,32969,42455,77.66,77.66
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,294,1435,20.49,20.49
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,902,1142,78.98,78.98

In [89]:
# 첫번째 행()
cctv.drop([0], inplace= True)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근3개년,2017년 이전,최근 증가율,최근증가율2
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,294,1435,20.49,20.49
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,902,1142,78.98,78.98
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,1049,1334,78.64,78.64
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76,1113,2413,46.13,46.13
5,광진구,2588,35,57,100,187,98,52,675,465,712,175,32,1352,1204,112.29,112.29

In [90]:
# 구 이름에서 공백지우기
cctv.구별 = cctv.구별.str.replace(' ','')
cctv.head(3)

AttributeError: 'DataFrame' object has no attribute '구별'

In [ ]:
# CCTV 댓수가 많은 자치구 top5
cctv.sort_values('CCTV댓수', ascending = False).head()

KeyError: 'CCTV댓수'

In [ ]:
#2. 서울시 인구 데이터

In [91]:
pop = pd.read_csv("서울시주민등록인구(구별)통계.txt", sep = '\t', skiprows=2)

In [92]:
pop.isna().sum().sum()

0

In [93]:
# 필요한 컬럼 추출 및 이름 변경
pop = pop[['자치구', '계','계.2', '65세이상고령자']]
pop.columns = ['구별', '인구수', '외국인','고령자']
pop.head()

    구별        인구수      외국인        고령자
0   합계  9,795,426  229,436  1,576,971
1  종로구    155,106    9,077     27,605
2   중구    132,259    9,243     23,980
3  용산구    240,665   14,287     38,884
4  성동구    295,767    6,605     45,591

In [74]:
# 천단위 구분 기호 없애기
for column in pop.columns[1:]:
    pop[column] = pop[column].str.replace(',','').astype(int)

pop.head(3)

    구별      인구수     외국인      고령자
0   합계  9795426  229436  1576971
1  종로구   155106    9077    27605
2   중구   132259    9243    23980

In [75]:
# 첫번째 행 지우기
pop.drop([0], inplace = True)

In [76]:
# 외국인 비율, 고령자비율 칼럼 만들기
pop['외국인비율'] = (pop.외국인 / pop.인구수 *100).round(2)
pop['고령자비율'] = (pop.고령자 / pop.인구수 *100).round(2)
pop.head()

    구별     인구수    외국인    고령자  외국인비율  고령자비율
1  종로구  155106   9077  27605   5.85  17.80
2   중구  132259   9243  23980   6.99  18.13
3  용산구  240665  14287  38884   5.94  16.16
4  성동구  295767   6605  45591   2.23  15.41
5  광진구  355306  12825  50815   3.61  14.30

In [77]:
### 3. 두개의 데이터프레임 합치기

In [78]:
df = pd.merge(cctv, pop)
df.head()

,구별,cctv 댓수,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,...,2021년,최근3개년,2017년 이전,최근 증가율,최근증가율2,인구수,외국인,고령자,외국인비율,고령자비율
0,종로구,1772,813,0,0,210,150,1,261,85,...,43,294,1435,20.49,20.49,155106,9077,27605,5.85,17.80
1,중구,2333,16,114,87,77,236,240,372,386,...,289,902,1142,78.98,78.98,132259,9243,23980,6.99,18.13
2,용산구,2383,34,71,234,125,221,298,351,125,...,0,1049,1334,78.64,78.64,240665,14287,38884,5.94,16.16
3,성동구,3602,448,125,212,105,339,310,874,390,...,76,1113,2413,46.13,46.13,295767,6605,45591,2.23,15.41
4,광진구,2588,35,57,100,187,98,52,675,465,...,32,1352,1204,112.29,112.29,355306,12825,50815,3.61,14.30

In [79]:
df.set_index('구별', inplace = True)
df.head()

,cctv 댓수,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,...,2021년,최근3개년,2017년 이전,최근 증가율,최근증가율2,인구수,외국인,고령자,외국인비율,고령자비율
구별,,,,,,,,,,,,,,,,,,,,,
종로구,1772,813,0,0,210,150,1,261,85,9,...,43,294,1435,20.49,20.49,155106,9077,27605,5.85,17.80
중구,2333,16,114,87,77,236,240,372,386,155,...,289,902,1142,78.98,78.98,132259,9243,23980,6.99,18.13
용산구,2383,34,71,234,125,221,298,351,125,307,...,0,1049,1334,78.64,78.64,240665,14287,38884,5.94,16.16
성동구,3602,448,125,212,105,339,310,874,390,262,...,76,1113,2413,46.13,46.13,295767,6605,45591,2.23,15.41
광진구,2588,35,57,100,187,98,52,675,465,712,...,32,1352,1204,112.29,112.29,355306,12825,50815,3.61,14.30

In [80]:
df.to_csv('서울시_CCTV_인구_병합데이터.csv')

In [16]:
print(1,2,3,4,5,6,7,8,9   sep = ?)  # 앞을 포지셔널 아규먼트 //뒤를 키워드형 아규먼트

SyntaxError: invalid syntax (<ipython-input-16-b4beacd04276>, line 1)

In [22]:
 def func(name, age, addr = '양평역'):   # addr는 키워드 인수, 파이썬에서 가변 인수가 허용이 된다.
    print(name, age, addr)

In [23]:
func('마리아', 25 ,'서울시 영등포구 양평동')

마리아 25 서울시 영등포구 양평동

In [26]:
func(name = '마리아', age = 25 )

마리아 25 양평역

In [ ]:
- 참고사항

In [27]:
# polymorphisim(다향성) : 자바는 overriding(상속을 받은다음에 부모의 속성값과 메소드를 자식이 그대로 사용할 수 있다.), overloading()
#
from sklearn.base import BaseEstimator

def class Myclassifier(BaseEstimator):
    def fit(self, X, y):
        pass
    def predict(self, X):
        return 0
    def score(self, X, y):
        pass

SyntaxError: invalid syntax (<ipython-input-27-954395d73856>, line 4)

In [28]:
def func1(a,b):
    """ 이곳은 함수에 대한 설명을 적는 부분입니다.
    인수 a는 어쩌구, 저쩌구, b는 이렇고 저렇고"""
    pass

In [ ]:
# 키워드 인수가 위치 인수 보다 앞에 위치
func1()