In [1]:
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [2]:
# 제조사 
name = 'chevrolet chevelle malibu'
mfg = name.split()[0]
mfg

'chevrolet'

In [3]:
model = name
model

'chevrolet chevelle malibu'

In [4]:
name2 = 'ford torino'
name.split()[1:]

['chevelle', 'malibu']

In [5]:
name2.split()[1:]

['torino']

In [6]:
# 모델명을 뽑아낼때
' '.join(name.split()[1:])

'chevelle malibu'

In [7]:
' '.join(name2.split()[1:])

'torino'

In [8]:
iris = sns.load_dataset('iris')

In [9]:
res =iris.groupby('species').agg(['mean','std']) 
res

           sepal_length           sepal_width           petal_length  \
                   mean       std        mean       std         mean
species
setosa            5.006  0.352490       3.428  0.379064        1.462
versicolor        5.936  0.516171       2.770  0.313798        4.260
virginica         6.588  0.635880       2.974  0.322497        5.552

                     petal_width
                 std        mean       std
species
setosa      0.173664       0.246  0.105386
versicolor  0.469911       1.326  0.197753
virginica   0.551895       2.026  0.274650

In [10]:
res.describe()

      sepal_length           sepal_width           petal_length            \
              mean       std        mean       std         mean       std
count     3.000000  3.000000    3.000000  3.000000       3.0000  3.000000
mean      5.843333  0.501513    3.057333  0.338453       3.7580  0.398490
std       0.795061  0.142262    0.336822  0.035438       2.0907  0.198973
min       5.006000  0.352490    2.770000  0.313798       1.4620  0.173664
25%       5.471000  0.434330    2.872000  0.318147       2.8610  0.321787
50%       5.936000  0.516171    2.974000  0.322497       4.2600  0.469911
75%       6.262000  0.576025    3.201000  0.350781       4.9060  0.510903
max       6.588000  0.635880    3.428000  0.379064       5.5520  0.551895

      petal_width
             mean       std
count    3.000000  3.000000
mean     1.199333  0.192596
std      0.896735  0.084750
min      0.246000  0.105386
25%      0.786000  0.151569
50%      1.326000  0.197753
75%      1.676000  0.236201
max      2.026000  0.274650

In [11]:
import numpy as np
import pandas as pd


s = pd.Series(res)

def get_newstat(s):
    
    Q1 = s.quantile(.25)
    Q3 = s.quantile(.75)
    IQR = Q3 - Q1
    Q2 = s.quantile(.5)
    Q4 = s.quantile(1)

    upper_limit = Q3 + 1.5 * (IQR)
    lower_limit = Q1 - 1.5 * (IQR)

    s[(s > upper_limit) and (s < lower_limit)] =np.nan

    return s.mean(), s.std()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
for species in iris.species.unique():
    for sepecies in iris.column[::-1]:

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
res1 = sns.load_dataset('titanic')
res1

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
c = pd.DataFrame(res1)


category1 = c[['age', 'sex']]
category1

      age     sex
0    22.0    male
1    38.0  female
2    26.0  female
3    35.0  female
4    35.0    male
..    ...     ...
886  27.0    male
887  19.0  female
888   NaN  female
889  26.0    male
890  32.0    male

[891 rows x 2 columns]

In [ ]:
############## 참고

# perfect Number
# 자기자신을 제외한 약수의 합이 자기자신과 같은 수를 완전수라고 한다.
# 6 =1+2+3, 28 = 1+2+4+& +14

In [ ]:
def is_perfect_number(num):
    for i in range(1,num):
        if num % i == 0:
            sum_of_divisor += i

    return num == sum_of_divisor

In [ ]:
for i in range(2,10001):
    if is_perfect_number(i):
        print(i)

UnboundLocalError: local variable 'sum_of_divisor' referenced before assignment

In [12]:
# 3-e
# 모델이 5개 이상인 제조사
mpg.groupby('manu').count()

KeyError: 'manu'

In [ ]:
mpg.manu.value_count()

In [ ]:
s = mpg.manu.value_counts()
s[s >= 5]

In [ ]:
big_manu = s[s >= 5].index
big_manu

In [ ]:
# 'ford' vs big_manu
# 'ford' in big_manu  == True

In [ ]:
# 전체 데이터 중에서 모델이 5개 이상인 제조사만 필터링
big_mpg = mpg[mpg.manu.isin(big_manu)]
mpg.shape, big_mpg.shape # 뒤에 자리는 컬럼명

In [ ]:
big_mpg.groupby('manu')['mpg'].mean()

In [ ]:
big_mpg.groupby('manu')['mpg'].mean().sort_values(ascending = False).head()

In [ ]:
### 복잡한 자료구조에서 데이터 꺼내기

In [49]:
# 도로명 주소 API에서 '산굼부리'로 검색한 결과
result = {'results': {'common': {'errorMessage': '정상',
   'countPerPage': '10',
   'totalCount': '1',
   'errorCode': '0',
   'currentPage': '1'},
  'juso': [{'detBdNmList': '',
    'engAddr': '768, Bijarim-ro, Jocheon-eup, Jeju-si, Jeju-do',
    'rn': '비자림로',
    'emdNm': '조천읍',
    'zipNo': '63346',
    'roadAddrPart2': '',
    'emdNo': '02',
    'sggNm': '제주시',
    'jibunAddr': '제주특별자치도 제주시 조천읍 교래리 342-2 산굼부리',
    'siNm': '제주특별자치도',
    'roadAddrPart1': '제주특별자치도 제주시 조천읍 비자림로 768',
    'bdNm': '산굼부리',
    'admCd': '5011025929',
    'udrtYn': '0',
    'lnbrMnnm': '342',
    'roadAddr': '제주특별자치도 제주시 조천읍 비자림로 768',
    'lnbrSlno': '2',
    'buldMnnm': '768',
    'bdKdcd': '0',
    'liNm': '교래리',
    'rnMgtSn': '501103349079',
    'mtYn': '0',
    'bdMgtSn': '5011025929003420005071420',
    'buldSlno': '0'}]}}

In [50]:
result

{'results': {'common': {'errorMessage': '정상',
   'countPerPage': '10',
   'totalCount': '1',
   'errorCode': '0',
   'currentPage': '1'},
  'juso': [{'detBdNmList': '',
    'engAddr': '768, Bijarim-ro, Jocheon-eup, Jeju-si, Jeju-do',
    'rn': '비자림로',
    'emdNm': '조천읍',
    'zipNo': '63346',
    'roadAddrPart2': '',
    'emdNo': '02',
    'sggNm': '제주시',
    'jibunAddr': '제주특별자치도 제주시 조천읍 교래리 342-2 산굼부리',
    'siNm': '제주특별자치도',
    'roadAddrPart1': '제주특별자치도 제주시 조천읍 비자림로 768',
    'bdNm': '산굼부리',
    'admCd': '5011025929',
    'udrtYn': '0',
    'lnbrMnnm': '342',
    'roadAddr': '제주특별자치도 제주시 조천읍 비자림로 768',
    'lnbrSlno': '2',
    'buldMnnm': '768',
    'bdKdcd': '0',
    'liNm': '교래리',
    'rnMgtSn': '501103349079',
    'mtYn': '0',
    'bdMgtSn': '5011025929003420005071420',
    'buldSlno': '0'}]}}

In [51]:
result.keys()

dict_keys(['results'])

In [52]:
result['result'].keys

KeyError: 'result'

In [29]:
type(result['result'])

KeyError: 'result'

In [33]:
type(result['results'['juso']])

<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<ipython-input-33-412f1cbd0a02>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  type(result['results'['juso']])

TypeError: string indices must be integers

In [ ]:
result['results']['juso'][0]['roadAddr']

In [41]:
# 카카오 로컬 API 검색결과
result = {'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',
   'y': '37.7955687639648'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [42]:
result

{'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',
   'y': '37.7955687639648'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [43]:
result.keys()

dict_keys(['documents', 'meta'])

In [45]:
result['documents'][0]['x'],['y']

KeyError: 'result'

In [46]:
lng = float(result['documents'][0]['x'])
lat = float(result['documents'][0]['y'])
lng, lat

(128.896538649542, 37.7955687639648)